body {
    color: white;
    background: rgb(10, 30, 40);
    font-family: "Poppins", sans-serif;
    margin: 15px;
}

header {
    color: rgb(220, 180, 0);
    border-bottom: dotted 3px rgb(60, 60, 60);
    padding: 15px;
    font-family: 'Star Wars', sans-serif;
    font-size: 50px;
    padding-left: 20px;
}

.chamada {
    margin-top: 20px;
    padding: 20px;
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
}

.chamada-de-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

.categoria {
    color: white;
    padding-left: 60px;
    padding-right: 60px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 40px
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    border: solid 2px rgb(80, 80, 80);
    transition-duration: 0.5s;
}

.categoria-videos img:hover {
    height: 220px;
    opacity: 1.0;
    border: solid 4px white;
    transition-duration: 1s;
}

.categoria-videos img:active {
    height: 212px;
    opacity: 0.5;
    transition-duration: 0.1s;
}

.tag {
    color: rgb(80, 80, 80);
    text-align: right;
}

.espaco-vazio {
    height: 300px;
}